<!-- Post List Template -->
<div class="posts-list fade-in">
  <% data.posts.forEach(function(post) { %>
    <% if(!post.draft) { %>
      <article class="post-card">
        <a href="<%= post.permalink %>">
          <% if(post.image) { %>
          <div class="post-image">
            <img src="<%= post.image %>" alt="">
          </div>
          <% } %>
          <div class="post-text">
            <h1 class="post-title">
              <%= post.title %>
            </h1>
            <div class="post-content">
              <% if(post.excerpt) { %>
                <p><%= post.excerpt %></p>
              <% } %>
            </div>
          </div>
        </a>
      </article>
    <% } %>
  <% }) %>
</div>